@import "tailwindcss";
@plugin "../hero.ts";

.container-wrapper {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
}

h1{
    @apply text-5xl font-extrabold pt-4;
}

.subtitle{
    @apply text-2xl font-bold pt-4 tracking-tight;
}

.corp{
    @apply pt-4 text-lg ;
}

.bg-no-saturate{
    --tw-backdrop-saturate: saturate(100%) !important;
}

.search:hover{
    @apply bg-primary/10;
}


.icon-nav .icon{
    padding: 0.7rem;
    border-radius: 40%;
    background-color: rgba(0,0,0,0);
    transition:  0.3s;
}

.icon-nav:hover .icon{
    padding: 0.65rem;
    transition:  0.3s;
    @apply bg-gray-100;

    transition-timing-function: ease-out;
}
.dark .icon-nav:hover .icon {
    @apply bg-gray-50/5 ;
}


@config "../tailwind.config.js"
