@import "tailwindcss";
@plugin "../hero.ts";

.container-wrapper {
    max-width: 1560px;
    width: 100%;
    margin-inline: auto;
}

h1{
    @apply lg:text-4xl text-3xl font-extrabold pt-4;
}

.subtitle{
    @apply font-extrabold  pt-1 tracking-tight lg:text-3xl text-xl dark:text-gray-50/60 text-gray-900/60 ;
}

.corp{
    @apply pt-4 lg:text-lg text-base;
}

.bg-no-saturate{
    --tw-backdrop-saturate: saturate(100%) !important;
}

.search:hover{
    @apply bg-primary/10;
    /*padding: 0.7rem;*/

}

.link{
    @apply flex justify-end text-sm text-primary dark:md:text-gray-50/70 md:text-gray-700 tracking-tight transition duration-300 pr-4 pb-4;
}
.card:hover .link{
    @apply text-primary transition duration-300;
}

.card{
    @apply  rounded-xl overflow-hidden;
}

.card:hover img{
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}

.img-card:hover .img-behind{
    opacity: 10;
}

.img-card:hover .img-above{
    opacity: 100 !important;
}
.img-card .img-above{
    opacity: 0 !important;
}


.icon-nav .icon{
    padding: 0.7rem;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
    transition:  0.3s;
}

.icon-nav:hover .icon{
    padding: 0.65rem !important;
    transition:  0.3s !important;
    @apply bg-gray-100;

    transition-timing-function: ease-out;
}
.dark .icon-nav:hover .icon {
    @apply bg-gray-50/5 ;
}


@config "../tailwind.config.js"
