@import "tailwindcss";
@plugin "../hero.ts";

.container-wrapper {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
}

h1{
    @apply text-5xl font-extrabold pt-4;
}

.subtitle{
    @apply text-2xl font-bold pt-4 tracking-tight;
}

.corp{
    @apply pt-4 text-lg ;
}

.bg-no-saturate{
    --tw-backdrop-saturate: saturate(100%) !important;
}

.search:hover{
    @apply bg-primary/10;
}


@config "../tailwind.config.js"
